<div class="card">
	<div class="card-header">
		<h3 class="card-title">Leads</h3>
	</div>
	<div class="table-responsive">
		<table class="table card-table table-vcenter text-nowrap datatable">
			<thead>
			<tr>
				<th class="w-1">#</th>
				<!--<th>Invoice Subject</th>-->
				<th>City</th>
				<th>Coordinates</th>
				<th>Timestamp</th>
				<!--<th>Status</th>-->
				<th>Contact</th>
				<th>TX Id</th>
				<th></th>
				<!--<th></th>-->
			</tr>
			</thead>

			<tbody>
			{% for invoice in site.data.invoices limit: 30 %}
			<tr>
				<td><span class="text-muted">{{ forloop.index | plus: 14 }}</span></td>

				<!--<td><a href="invoice.html" class="text-inherit">{{ invoice.name }}</a></td>-->

				<td>
					{{ invoice.city }}
				</td>

				<td>
					{{ invoice.coordinates }}
				</td>

				<td>
					{{ invoice.timestamp }}
				</td>

				<!--<td>-->
					<!--<span class="status-icon bg-{{ invoice.status }}"></span> {{ invoice.status-name }}-->
				<!--</td>-->

				<td>
					<button type="button" class="btn btn-outline-primary">Contact Info</button>
				</td>

				<td>
					<a href="">{{ invoice.tx-no }}</a>
				</td>

				<td class="text-right">
					<!--<a href="javascript:void(0)" class="btn btn-secondary btn-sm">Manage</a>-->
					<div class="dropdown">
						<button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">More</button>
					</div>
				</td>

				<!--<td>-->
					<!--<a class="icon" href="javascript:void(0)">-->
						<!--<i class="fe fe-edit"></i>-->
					<!--</a>-->
				<!--</td>-->
			</tr>
			{% endfor %}
			</tbody>
		</table>
		<script>
          require(['datatables', 'jquery'], function (datatable, $) {
            $('.datatable').DataTable();
          });
		</script>
	</div>
</div>
